/Library
/OnceUponATime.sln.DotSettings.user
/.vsconfig
/Assembly-CSharp.csproj
/Assembly-CSharp-Editor.csproj
/OnceUponATime.sln
/UserSettings
/Temp
/.vs
/Logs
/obj
/.idea/.idea.OnceUponATime/.idea/workspace.xml
